<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Trips</title>
</head>
<body>
    <h1>All Trips of All Time Here</h1>
    <ul>
        {% for trip in all_trips %}
            <li><a href="/trip/{{trip.id}}">{{trip.name}}</a><sp>{{trip.start_date.strftime("%m/%d/%Y")}}-{{trip.end_date.strftime("%m/%d/%Y")}}</sp></li>
        {% endfor %}
    </ul>
    
</body>
</html>