<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Trip</title>
</head>
<body>
    <h1>The trip you're looking at!</h1>
    {{ trip.name }}
    {{ trip.notes }}
    {{ trip.start_date }}
    {{ trip.end_date }}
    {{ trip.zip_code }}
    
    <form action="/update-list" method="post">

        <div class="sleeping-items">
            <div>Sleeping</div>
            <div>
                <label for="sleeping">sleeping bag</label>
                <input type="checkbox" name="sleeping-bag" checked="true">
            </div>
            <div>
                <label for="pillow">pillow</label>
                <input type="checkbox" name="pillow" checked="true">
            </div>
        </div>
        
        <button>Yes, confirm these items</button>
    </form>

</body>
</html>