<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Trip</title>
</head>
<body>
    <h1>The trip you're looking at!</h1>
    <div>{{ trip.name }}</div>
    <div>{{ trip.notes }}</div>
    <div>{{ trip.start_date.strftime("%m/%d/%Y") }} - {{ trip.end_date.strftime("%m/%d/%Y") }}</div>
    <div>{{ trip.zip_code }}</div>
    
    <form action="/update_list" method="post">
        <input type="hidden" name="list_id" value="{{ trip.id }}">

        {% for item in trip.items %}        
            <div>
                <label>{{ item.name }}</label>
                <input type="checkbox" name="{{item.name}}" checked="true">
            </div>
        {% endfor %}
        
        <button>Yes, confirm these items</button>
    </form>

</body>
</html>