<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page</h1>
    <div class="new-list-form">
        <form action="/save-list" method="post">
            <label for="name">Trip name:</label>
            <input type="text" name="name">

            <label for="notes">Notes:</label>
            <input type="text" name="notes" id="">

            <label for="start-date">Start Date:</label>
            <input type="date" name="start_date">

            <label for="end-date">End Date:</label>
            <input type="date" name="end_date">

            <label for="zip-code">Zip code of camping location</label>
            <input type="text" name="zip_code">

            <button>Save Trip</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="upcoming-trips">
        Upcoming trips here...
        <ul>
            {% for trip in upcoming_trips %}
            <li><a href="/trip/{{trip.id}}">{{trip.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <a href="/trips">See All Trips</a>
    
</body>
</html>