<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Trip</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <style>
        body {
        font-family: 'Nanum Gothic Coding', monospace;
        }
    </style>
</head>
<body>
    <div class="container p-2">
        <div class="header">
            <h1>Trip Page</h1>
            <ul class="nav nav-pills">
                <li class="nav-item m-2">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link active" href="/trips">See All Trips</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link active" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <div class="trip-sub-header">
            <div class="p-3 m-3">
                <p>Trip Name: {{ trip.name }}</p>
                <p>Notes: {{ trip.notes }} </p>
                <p>Dates: {{ trip.start_date.strftime("%m/%d/%Y") }} - {{ trip.end_date.strftime("%m/%d/%Y") }}</p>
                <p>Zip Code of Camping Location: {{ trip.zip_code }}</p>
                <div>
                    <a class = "btn btn-primary" href="/edit_trip/{{trip.id}}">Edit Trip</a>
                    <button type = "button" class = "btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal2">Delete Trip</a>
                </div>
                <div>
                    <a class = "btn btn-info" href = "/packed_list/{{trip.id}}">Go to Packing Tracker</a>
                </div>
                <div id = "get_forecast">
                    <a href = "/weather/{{trip.id}}/{{trip.zip_code}}">Get weather forecast</a>
                </div>
            </div>
            
            <div class="p-3 m-3">
                <h5>Add Custom Item</h5>
                <form class="d-grid" action="/add_item" method="post">
                    <input type="hidden" name="lists_id" value="{{ trip.id }}">
                    <div>
                        <label class="form-label" for="name">Item Name:</label>
                        <input class="form-control form-control-sm" type="text" name="name">
                    </div>
                    <div>
                        <label class="form-label" for="name">Category:</label>
                        <select class="form-select form-select-sm" name="categories_id">
                            <option value="1">Miscellaneous</option>
                            <option value="2">Sleeping</option>
                            <option value="3">Personal Care</option>
                            <option value="4">Tools</option>
                            <option value="5">Fire</option>
                            <option value="6">Recreation</option>
                            <option value="7">Eating/Drinking</option>
                            <option value="8">Kids</option>
                            <option value="9">Pets</option>
                        </select>
                    </div>
                    <div>
                        <label class="form-label" for="name">Weight (lbs):</label>
                        <input class="form-control form-control-sm" type="text" name="weight">
                    </div>
                    <div class="y-n-btn">
                        <p>Item packed?</p>
                        <input class="form-check-input" type="radio" id="packed" name="is_packed" value="1">
                        <label class="form-label" for="packed">Yes</label><br>
                        <input class="form-check-input" type="radio" id="not_packed" name="is_packed" value="0" checked>
                        <label class="form-label" for="not_packed">No</label><br>
                    </div>
                    <button class="btn btn-primary btn-block">Add</button>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            <p>{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </form>
            </div>
        </div>
        <div>
            <h4>Total item weight: {{total_weight}} pounds</h4>
        </div>
        <div class="items-in-list">
        {% for this_key in trip.items %}
            <div class="category-card p-2 m-1 bg dark">
                <h3>{{this_key}}:</h3>
                {% for this_item in trip.items[this_key]%}
                    {% if this_item.is_packed == True %}
                        <a class="packed" href = "/edit_item/{{this_item.id}}">{{this_item.name}}</a>
                    {% else %}
                        <a href = "/edit_item/{{this_item.id}}">{{this_item.name}}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation needed!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Are you sure you want to delete this trip?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <a class="btn btn-primary" href = "/delete_trip/{{trip.id}}">Yes</a>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>