<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Trip</title>
</head>
<body>
    <h1>{{ trip.name }}</h1>

    <div>{{ trip.name }}</div>
    <div>{{ trip.notes }}</div>
    <div>{{ trip.start_date.strftime("%m/%d/%Y") }} - {{ trip.end_date.strftime("%m/%d/%Y") }}</div>
    <div>{{ trip.zip_code }}</div>

    {% for item in trip.items %}
        <div><a href = "/edit_item/{{item.id}}">{{item.name}}</a></div>
    {% endfor %}

    <div>
        Create and add a custom item to this list
        <form action="/add_item" method="post">
            <input type="hidden" name="lists_id" value="{{ trip.id }}">
            <div>
                <label for="name">Item Name:</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="name">Category:</label>
                <select name="categories_id">
                    <option value="1">Miscellaneous</option>
                    <option value="2">Sleeping</option>
                    <option value="3">Personal Care</option>
                    <option value="4">Tools</option>
                    <option value="5">Fire</option>
                    <option value="6">Recreation</option>
                    <option value="7">Eating/Drinking</option>
                    <option value="8">Kids</option>
                    <option value="9">Pets</option>
                </select>
            </div>
            <div>
                <label for="name">Weight:</label>
                <input type="text" name="weight">
            </div>
            <div>
                <p>Item packed?</p>
                <input type="radio" id="packed" name="is_packed" value="1">
                <label for="packed">Yes</label><br>
                <input type="radio" id="not_packed" name="is_packed" value="0">
                <label for="not_packed">No</label><br>
            </div>
            <button>Add</button>
        </form>

    </div>
    
</body>
</html>