* {
    margin: 0 auto;
    padding: 0px;
}


body {
    /* display: block; */
    background-image: url("background.jpg");
    background-size:cover;
    height: 100vh;
    /* background-position: center; */
}

.container {
    max-width: 1420px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgb(179, 179, 179, 0.80);
    margin-top: 20px;
}
.weather-container {
    background-color: rgb(179, 179, 179, 0.80);
    width: 50%;
    padding: 20px;
    border-radius: 15px;
}
.category-card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 15px;
    background-color: rgb(179, 179, 179, 0.80);
}

.side-by-side {
    display: flex;
}

.reg-header {
    display: block;
    align-items: center;
    margin-bottom: 15px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}


.main-content {
    display: flex;
    margin-top: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
}

.left {
    width: 500px;
    padding: 20px;
}


.trips {
    padding: 0px;
}

.trips li {
    list-style: none;
    font-size: larger;
    text-align: center;
    padding: 15px;
    margin: 15px;
    background-color: rgb(179, 179, 179, 0.80);
    border-radius: 15px;
}


.trip-link {
    font-size: larger;
    font-style:normal;
}

.item-actions {
    display: flex;
}

.trip-sub-header {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    /* margin: 0; */
}

.y-n-btn {
    display: flex;
}

.items-in-list {
    display: flex;
}

.packed {
    background-color: #86cf86b0;
    width: 100%;
    border-radius: 9px;
    color: white;
    text-decoration: none;
}
.selected-for-pack {
    background-color:khaki;
    width: 100%;
    border-radius: 9px;
    color: white;
    text-decoration: none;
}
.not-packed {
    width: 100%;
    border-radius: 9px;
    text-decoration: none;
    border: 2px solid black;
}

#check-uncheck {
    /* is this the best way to deal with this crazy button? I don't know */
    margin: auto;
    width: 175px;
}

#get_forecast a {
    align-items: center;
}