* {
    margin: 0 auto;
    padding: 0px;
}


body {
    /* display: block; */
    background-image: url("background.jpg");
    background-size:cover;
    height: 100vh;
    /* background-position: center; */
}


.container {
    /* width: 1200px; */
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 15px;
    background-color: rgb(179, 179, 179, 0.80);
}

.reg-header {
    display: block;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.main-content {
    display: flex;
    margin-top: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
}

.left {
    width: 500px;
    padding: 20px;
}


.add-custom-item {
    margin-top: 15px;
}
.trips li {
    list-style: none;
    font-size: larger;
    text-align: center;
    padding: 5px;
    margin: 15px;
}


.trip-link {
    font-size: larger;
    font-style:normal;
}

.item-actions {
    display: flex;
}